@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);

/* Rules used between components will be put in here */

@keyframes blur-out {
  0% {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  to {
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
  }
}

@keyframes blur-in {
  0% {
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
  }

  to {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}

@keyframes modal-out {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes modal-in {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

:root {
  --send-icon-hover: #999;
  --action-icon-hover: #d16767;
  --preset-icon-hover: #67d172;
  --refresh-icon-hover: #67d172;
  --toastify-color-light: rgba(0, 0, 0, 0.25);
  --toastify-text-color-light: #bfbfbf;
  --toastify-color-progress-light: #4a72ff;
}

.Toastify__toast {
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 300;
}

* {
  font-family: 'Inter', sans-serif;
  transition: all 250ms ease;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(74, 114, 255, 0.35);
  border-radius: 5px;
}

body {
  background-image: url(../../assets/bg/bg.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
}

#background {
  position: absolute;
  top: -50%;
  left: 0;
  width: 200vh;
  height: 200vh;
  z-index: -1;
}

:focus {
  outline: 0;
}

input:focus:not(#aos-input) {
  box-shadow: 0 0 10px rgba(74, 114, 255, 0.1);
}

button:active {
  transform: scale(0.95);
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cheater {
  color: #f43d3d;
}
