@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);

@keyframes height-out {
  0% {
    max-height: 100px;
  }

  to {
    max-height: 0;
  }
}

@keyframes height-in {
  0% {
    max-height: 0;
  }

  to {
    max-height: 100px;
  }
}

@keyframes blur-out {
  0% {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  to {
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
  }
}

@keyframes blur-in {
  0% {
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
  }

  to {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}

@keyframes modal-out {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes modal-in {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

:root {
  --send-icon-hover: #999;
  --action-icon-hover: #d16767;
  --preset-icon-hover: #67d172;
  --refresh-icon-hover: #67d172;
  --toastify-color-light: rgba(0, 0, 0, 0.25);
  --toastify-text-color-light: #bfbfbf;
  --toastify-color-progress-light: #4a72ff;
}

.Toastify__toast {
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 300;
}

* {
  font-family: 'Inter', sans-serif;
  transition: all 250ms ease;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(74, 114, 255, 0.35);
  border-radius: 5px;
}

body {
  background-image: url(../../assets/bg/bg.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
}

#background {
  position: absolute;
  top: -50%;
  left: 0;
  width: 200vh;
  height: 200vh;
  z-index: -1;
}

.pt,
.pt-header {
  display: flex;
  text-align: center;
}

.pt {
  width: 100%;
  max-height: 270px;
  overflow-y: hidden;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.5);
  flex-direction: column;
}

.pt-header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#header-search {
  width: 128px;
  max-width: calc(128px - 16px);
  margin-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 4px 4px 4px 16px;
}

.pt-item {
  cursor: pointer;
}

#header-search,
.pt-additional-content {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.pt-additional-content {
  overflow: auto;
  overflow-x: hidden;
  text-align: left;
  line-height: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.pt-additional-content.show {
  animation: height-in 250ms ease-in forwards;
}

.pt-additional-content.hide {
  animation: height-out 250ms ease-in forwards;
}

.pt-additional-content table,
.pt-additional-content table tr {
  width: 100%;
}

.pt-additional-content table tr td:first-child {
  padding-left: 59px;
  width: 50%;
}

.pt-additional-content table tr td:nth-child(2) {
  width: 47.5%;
}

.ptac-t-divider {
  width: 100%;
  height: 1px !important;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 8px !important;
}

.pt-name,
.row-content {
  display: flex;
  align-items: center;
}

.row-content {
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 16px;
  color: #bfbfbf;
}

.pt-name {
  width: 55%;
}

.playfab,
.playfab-body {
  width: 40%;
  text-align: left;
}

.actions,
.actions-header {
  width: 12%;
}

.custom-checkbox,
.pt-checkbox-container {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.pt-checkbox:checked {
  background-color: #4a72ff;
}

.pt-checkbox:disabled {
  border: #303030 2px solid;
}

.custom-checkbox input[type='checkbox'] {
  display: none;
}

.custom-checkbox .checkbox-icon {
  display: inline-block;
  position: relative;
  padding: 0;
  width: 14px;
  height: 14px;
  border: #4a72ff 2px solid;
  border-radius: 4px;
  margin: 0 24px 0 4px;
  cursor: pointer;
}

.custom-checkbox .checkbox-icon::after {
  content: '';
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.4375 2.8125L4.0625 7.1875L1.875 5' stroke='white' strokeWidth='1.53' strokeLinecap='round' strokeLinejoin='round'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.custom-checkbox input[type='checkbox']:checked + .checkbox-icon::after {
  background-color: #4a72ff;
  border: 2px solid #4a72ff;
  border-radius: 4px;
  display: block;
}

.pt-body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.actions button {
  margin-left: 5px;
  width: 28px;
  height: 28px;
  background-color: rgba(54, 10, 10, 0.25);
  border: 1px solid #6b1919;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.ptcb {
  display: flex;
  justify-content: space-between;
}

.ptcb #ptcb-left,
.ptcb #ptcb-right {
  display: flex;
  align-items: center;
}

.ptcb #ptcb-left p {
  color: #fff;
  font-size: 16pt;
  font-weight: 500;
  margin-left: 8px;
}

.ptcb #ptcb-right #ptcb-duration,
.ptcb #ptcb-right #ptcb-reason {
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding-left: 16px;
  height: 32px;
  font-size: 12pt;
  color: #fff;
}

.ptcb #ptcb-right #ptcb-reason {
  width: 160px;
  max-width: calc(160px - 16px);
}

.ptcb #ptcb-right #ptcb-duration {
  max-width: calc(98px - 16px);
  margin-left: 8px;
  margin-right: 8px;
}

#preset-button,
.ban-button,
.kick-button {
  line-height: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

#preset-button {
  background-color: rgba(20, 29, 62, 0.25);
  border: 1px solid #4265e0;
  border-radius: 4px;
  color: #fff;
  --preset-icon-hover: #4a72ff;
}

#preset-button:hover {
  --preset-icon-hover: white;
  background-color: #4265e0;
}

#preset-icon path {
  fill: var(--preset-icon-hover);
}

.ban-button,
.kick-button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  --action-icon-hover: #d16767;
}

.ban-button:disabled,
.kick-button:disabled {
  border-color: #303030;
  background-color: rgba(48, 48, 48, 0.25);
}

.ban-button:disabled .ban-icon path,
.kick-button:disabled .kick-icon path {
  fill: rgba(48, 48, 48, 0.5);
}

.ban-button:disabled:hover,
.kick-button:disabled:hover {
  background-color: rgba(48, 48, 48, 0.25);
}

.ban-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -45%);
}

.ban-button:hover,
.kick-button:hover {
  --action-icon-hover: white;
  background-color: #6b1919;
}

.ban-icon path,
.kick-icon path {
  fill: var(--action-icon-hover);
}

#refresh-button {
  width: 32px;
  height: 32px;
  background-color: rgba(18, 56, 22, 0.25);
  border: 1px solid #298231;
  border-radius: 4px;
  color: #fff;
  line-height: 0;
  cursor: pointer;
  --refresh-button-hover: #67d172;
}

#refresh-button:hover {
  --refresh-button-hover: white;
  background-color: #298231;
}

#refresh-icon path {
  stroke: var(--refresh-button-hover);
}

.ptm-container {
  margin-top: 24px;
}

#ptm-top {
  display: flex;
  flex-direction: row;
  text-align: center;
}

#ptm-bottom {
  margin-top: 16px;
}

#ptm-input-container,
#settings-button {
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

#settings-button {
  width: 44px;
  height: 44px;
  min-width: 44px;
  min-height: 44px;
  margin-right: 8px;
  color: transparent;
  cursor: pointer;
  line-height: 0;
  display: inline-block;
  position: relative;
}

#settings-button:hover {
  background-color: #000;
}

#ptm-input-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#aos-input,
#aos-send {
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  border: 0;
}

#aos-input {
  width: 100%;
  font-size: 16px;
  color: #fff;
  margin: 0;
  padding: 0 0 0 16px;
}

#aos-send {
  width: 40px;
  color: transparent;
  padding-right: 32px;
  line-height: 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
  --send-icon-hover: #999;
}

#aos-send:hover {
  --send-icon-hover: white;
}

#send-icon path {
  fill: var(--send-icon-hover);
}

#send-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropdown {
  position: relative;
  margin: 0 auto;
  width: 160px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.25);
}

.dropdown__text {
  color: #fff;
  padding: 10px 16px;
  cursor: pointer;
  height: auto;
}

.dropdown__text:after {
  content: '';
  border: solid #ccc;
  border-width: 0 1px 1px 0;
  float: right;
  margin-top: 8px;
  margin-right: 6px;
  padding: 5px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.dropdown.active .dropdown__text:after {
  margin-top: 1px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown__items {
  position: absolute;
  top: 50px;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  padding: 0 16px;
  width: auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #fff;
}

.dropdown.active .dropdown__items {
  visibility: visible;
  height: auto;
  max-height: 290px;
  opacity: 1;
}

.dropdown__item {
  cursor: pointer;
  padding: 10px 18px;
}

#unban-button,
#unban-input {
  border-radius: 4px;
  font-size: 16px;
}

#unban-input {
  width: 160px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding-left: 16px;
  color: #fff;
}

#unban-button {
  margin-left: 8px;
  width: 83px;
  height: 36px;
  background-color: rgba(18, 56, 22, 0.25);
  border: 1px solid #298231;
  color: #67d172;
  cursor: pointer;
}

#unban-button:hover {
  background-color: #298231;
  color: #fff;
}

:focus {
  outline: 0;
}

input:focus:not(#aos-input) {
  box-shadow: 0 0 10px rgba(74, 114, 255, 0.1);
}

button:active {
  transform: scale(0.95);
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cheater {
  color: #f43d3d;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  animation: 250ms ease-in blur-in forwards;
}

.modal-overlay.fade-out {
  animation: 250ms ease-in blur-out forwards;
}

.modal {
  position: relative;
  width: 50%;
  background: rgba(0, 0, 0, 0.25);
  padding: 24px 24px 8px;
  border-radius: 8px;
  z-index: 400;
  animation: 500ms ease-in modal-in forwards;
}

.modal.fade-out {
  animation: 250ms ease-in modal-out forwards;
}

.modal .modal-close-button,
.modal .tabs .modal-tab-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 16px;
}

.modal .tabs .modal-tab-button {
  color: #999;
  padding: 0 0 8px;
  font-weight: 600;
  line-height: 24px;
}

.modal .tabs .modal-tab-button.active {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.modal .modal-close-button {
  width: 24px;
  height: 24px;
  color: #fff !important;
  border-radius: 12px !important;
  padding: 0 !important;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal .modal-tab-button:hover {
  color: #fff !important;
}

.modal .tabs {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  gap: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.modal .content {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.modal-close-button-svg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close-button:hover {
  background-color: #fff;
  color: #000;
  border-radius: 12px !important;
}

.modal-close-button:hover svg path,
.preset-modal-close-button:hover svg path {
  fill: #000;
}

.modal-settings-page {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #fff;
}

.modal-settings-console-button {
  width: 100%;
  height: 44px;
  background-color: #000;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.modal-settings-console-button:not(:disabled):hover {
  background-color: #fff;
  color: #000;
}

.modal-settings-console-button:disabled:active {
  transform: none !important;
}

.modal-settings-console-button:disabled {
  background-color: rgba(48, 48, 48, 0.25);
  color: rgba(255, 255, 255, 0.5);
}

.modal-settings-username {
  width: calc(100% - 20px);
  height: 40px;
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  padding-left: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.875 3.32031H15.7031C15.6172 3.32031 15.5469 3.39062 15.5469 3.47656V13.5938H6.0547V12.168C6.0547 12.0371 5.90236 11.9629 5.8008 12.0449L3.02931 14.2324C3.01064 14.247 2.99553 14.2657 2.98515 14.287C2.97476 14.3084 2.96936 14.3318 2.96936 14.3555C2.96936 14.3792 2.97476 14.4026 2.98515 14.4239C2.99553 14.4452 3.01064 14.4639 3.02931 14.4785L5.8008 16.666C5.90431 16.748 6.0547 16.6738 6.0547 16.543V15.0781H15.7813C16.4707 15.0781 17.0313 14.5176 17.0313 13.8281V3.47656C17.0313 3.39062 16.961 3.32031 16.875 3.32031Z' fill='white'/%3E%3C/svg%3E%0A");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: calc(100% - 11px) center;
}

.modal-settings-username.loading {
  transform: scale(0.95);
}

.preset-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: 250ms ease-in blur-in forwards;
}

.preset-modal-overlay.fade-out {
  animation: 250ms ease-in blur-out forwards;
}

.preset-modal-content {
  position: relative;
  width: 50%;
  background: rgba(0, 0, 0, 0.25);
  padding: 24px 24px 8px;
  border-radius: 8px;
  z-index: 1001;
  color: #fff;
  animation: 500ms ease-in modal-in forwards;
}

.preset-modal-content.fade-out {
  animation: 250ms ease-in modal-out forwards;
}

.preset-modal-content .preset-modal-close-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 0;
  color: #fff !important;
  border-radius: 12px !important;
  padding: 0 !important;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 8px;
  right: 8px;
}

.preset-modal-close-button-svg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preset-modal-close-button:hover {
  background-color: #fff;
  color: #000;
  border-radius: 12px !important;
}

.preset-modal-items {
  margin-top: 16px;
  margin-bottom: 16px;
  max-height: 400px;
  overflow-y: auto;
}

.preset-modal-items .preset-modal-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  color: #bfbfbf;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  line-height: 24px;
}

.preset-modal-items .preset-modal-item:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.preset-modal-item-name {
  font-weight: 700;
}
